requests>=2.9.1
requests_toolbelt
functions-framework==3.*
google-api-core
google-auth
googleapis-common-protos
protobuf
Flask>=0.12.2
Flask-RESTful>=0.3.6
requests>=2.9.1
Werkzeug>=0.14.1
requests_toolbelt
decorator>=4.0.6
urllib3<2.0
google-api-python-client
google-cloud-bigquery
google-cloud-pubsub
feedparser
bs4